# Card Shop Simulator
**.exe
Card Shop Simulator*
MonoBleedingEdge/

# Mods

*doorstop*
BepInEx/*
BepInEx/plugins/*
!BepInEx/
!BepInEx/config/ArtExpander.cfg
!BepInEx/config/shaklin.TextureReplacer.cfg
!BepInEx/plugins/
!BepInEx/plugins/ArtExpander/
!BepInEx/plugins/ArtExpander/**
!BepInEx/plugins/TextureReplacer/
!BepInEx/plugins/TextureReplacer/**
**.dll
**.log

# Builds
**.zip
